body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f2f2f2;
}

header{
    background:#0066cc;
    color:white;
    text-align:center;
    padding:20px;
}

nav{
    background:#333;
    padding:10px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
}

.container{
    display:flex;
    width:90%;
    margin:20px auto;
}

main{
    width:75%;
}

article{
    background:white;
    padding:15px;
    margin-bottom:20px;
    border:1px solid #ccc;
}

article img{
    width:100%;
    margin-top:10px;
}

section{
    margin-top:10px;
}

aside{
    width:25%;
    margin-left:20px;
    background:white;
    padding:15px;
    border:1px solid #ccc;
}

aside img{
    width:100%;
    margin-bottom:10px;
}

footer{
    background:#333;
    color:white;
    text-align:center;
    padding:15px;
}